<div class="card p-t-80 form-wrapper">
  <div class="card-block">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Volunteer Sign Up</h2>
        <form class="" action="/volunteers" method="post">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="volunteer[name]" value="" id="name" class="form-control">
          </div>

          <div class="form-group">
            <label for="age">Age</label>
            <input type="number" name="volunteer[age]" value="" id="age" class="form-control">
          </div>

          <div class="form-group">
            <label for="hometown">Hometown</label>
            <input type="text" name="volunteer[hometown]" value="" id="hometown" class="form-control">
          </div>

          <div class="form-group">
            <label for="qualifications">Qualifications</label>
            <input type="text" name="volunteer[qualifications]" value="" id="qualifications" class="form-control">
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="volunteer[description]" value="" id="description" class="form-control">
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" name="volunteer[phone]" value="" id="phone" class="form-control">
          </div>
          
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="volunteer[email]" value="" id="email" class="form-control">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="volunteer[password]" value="" id="password" class="form-control" >
          </div>

          <div class="form-group">
            <button type="submit" name="button" class="btn form-btn">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
