        <form class="" action="/parents" method="post">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="parent[name]" value="" id="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" name="parent[phone]" value="" id="phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="parent[location]" value="" id="location" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="parent[email]" value="" id="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="parent[password]" value="" id="password" class="form-control" >
          </div>
          <div class="form-group">
            <button type="submit" name="button" class="btn form-btn">Sign up</button>
          </div>
        </form>