<main class="cover-container" style="text-shadow: none;">
  <div  class="row">
    <div class="col-md-8" style="text-align: center;">
      <h2 style="color: white;"><%= @volunteer.name %></h2>
        <div class="">
          <iframe src="https://appear.in/parent-volunteer"width="100%" height="550px"></iframe>
        </div>
    </div>
    <div class="col-md-4 chat-tempo" style="height: 600px;">
      <div class="messages">
        <section class="card message">
          <div class="card-block">
            <span class="card-title">Janna</span><span class="sent-time">11:35PM</span>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </section>
        <section class="card message">
          <div class="card-block">
            <span class="card-title">Jane</span><span class="sent-time">11:35PM</span>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </section>
        <section class="card message">
          <div class="card-block">
            <span class="card-title">Janna</span><span class="sent-time">11:35PM</span>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </section>
        <section class="card message">
          <div class="card-block">
            <span class="card-title">Jane</span><span class="sent-time">11:35PM</span>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </section>
        <section class="card message">
          <div class="card-block">
            <span class="card-title">Janna</span><span class="sent-time">11:35PM</span>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </section>

      </div>
      <form id="chat" action="#" method="post">
        <textarea placeholder="Message" class="form-control" rows="5" name="" ></textarea>
        <div>
          <button type="button" name="button" class="btn btn-secondary btn-chat">Send</span></button>
        </div>
      </form>
    </div>
  </div>
</main>
<script type="text/javascript" src="/js/chat.js"></script>
