<h2>User Login</h2>

<form action="/sessions" method="POST">
  <label class="block mar-b-1">Email: </label>
  <input type="email" name="email" placeholder="email@domain.com" class="block w-100 no-outline no-border pad-1 mar-b-2">
  <br>
  <label class="block mar-b-1">Password: </label>
  <input type="password" name="password" placeholder="password" class="block w-100 no-outline no-border pad-1 mar-b-2">

  <input type="submit" value="Login" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>