
<!-- we need to add this to the end of the route for the video session -->
<!-- <h1><a href="https://appear.in/#{@parent.username}-#{@volunteer.username}"><%= @parent.username %>-<%= @volunteer.username %></a></h1></h1>  -->
<!--
<h1><button style="background-color: #333; width: 400px; height: 100px; border-radius: 5px;" type="button" name="button" class="btn"><a href="https://appear.in/parent-volunteer"><%= @parent.username %>-<%= @volunteer.username %></a></button></h1> -->

<div style="width: 350px; margin: 0 auto;">
<h1><a href="https://appear.in/parent-volunteer">Join Video Session</a></h1></h1>
</div>
