
<!-- we need to add this to the end of the route for the video session -->
<!-- <h1><a href="https://appear.in/#{@parent.username}-#{@volunteer.username}"><%= @parent.username %>-<%= @volunteer.username %></a></h1></h1>  -->

<h1><a href="https://appear.in/parent-volunteer"><%= @parent.username %>-<%= @volunteer.username %></a></h1></h1> 



