<div id="wrapper">

  <section id="main">
    <header>
      <h1>You've chosen a volunteer and you want to join the call they're on</h1>
    </header>
    <main id="main-content">
      <form action="/volunteers/:id/gigs/show" method="GET">
      <fieldset>
      <legend>Join the session!</legend>
      <input id="room-name" type="submit" value="Begin your session!">
      </fieldset>
      </form>
    </main>
  </section
</div>