<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Title</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Catch Copy</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <div class="home-select-btns">
              <a href="#" class="btn btn-lg btn-secondary home-btn parent">Parent</a>
              <a href="#" class="btn btn-lg btn-secondary home-btn volunteer">Volunteer</a>
            </div>
            <div class="parent-select-btns">
              <a href="#" class="btn btn-lg btn-secondary home-btn sign-up">Sign up</a>
              <a href="#" class="btn btn-lg btn-secondary home-btn sign-in">Log in</a>
            </div>
            <div class="volunteer-select-btns">
              <a href="#" class="btn btn-lg btn-secondary home-btn sign-up">Sign up</a>
              <a href="#" class="btn btn-lg btn-secondary home-btn sign-in">Log in</a>
            </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/home.js"></script>
